Repository specify/specify7, pull requests merged in 2024-11, with the labels that each got.

#5345 Implement prefs and other functionalities for Tectonic trees
  config/backstop/typesearch_def.xml
  specifyweb/frontend/js_src/lib/components/Attachments/__tests__/__snapshots__/utils.test.ts.snap
  specifyweb/frontend/js_src/lib/components/DataModel/__tests__/__snapshots__/specifyTable.test.ts.snap
  specifyweb/frontend/js_src/lib/components/DataModel/__tests__/specifyTable.test.ts
  specifyweb/frontend/js_src/lib/components/FormEditor/__tests__/__snapshots__/createView.test.ts.snap
  specifyweb/frontend/js_src/lib/components/Formatters/__tests__/__snapshots__/formatters.test.ts.snap
  specifyweb/frontend/js_src/lib/components/Forms/__tests__/parentTables.test.tsx
  specifyweb/frontend/js_src/lib/components/InitialContext/__tests__/__snapshots__/treeRanks.test.ts.snap
  specifyweb/frontend/js_src/lib/components/InitialContext/__tests__/treeRanks.test.ts
  specifyweb/frontend/js_src/lib/components/Molecules/SvgIcon.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/__tests__/__snapshots__/fromTree.test.ts.snap
  specifyweb/frontend/js_src/lib/components/QueryBuilder/__tests__/fromTree.test.ts
  specifyweb/frontend/js_src/lib/components/QueryBuilder/fromTree.ts
  specifyweb/frontend/js_src/lib/components/WbPlanView/__tests__/automapper.test.ts
  specifyweb/frontend/js_src/lib/components/WbPlanView/__tests__/navigator.test.ts
  specifyweb/frontend/js_src/lib/tests/ajax/static/context/datamodel.json
  specifyweb/specify/filter_by_col.py
  specifyweb/specify/tree_stats.py
  specifyweb/workbench/upload/scoping.py
Labels: Migration

#5324 Allow cascading deletion of tree nodes and unused children
  specifyweb/specify/migrations/0010_updateDelete_parentcojo.py
  specifyweb/specify/migrations/0011_cascading_tree_nodes.py
  specifyweb/specify/models.py
Labels: Migration

#5361 Avoid throwing errors on workbench validation for undefined treedefid
  specifyweb/workbench/upload/scoping.py
  specifyweb/workbench/upload/treerecord.py
Labels: 1 - Bug, 2 - WorkBench

#5388 Add cojo to Schema Config
  specifyweb/specify/migrations/0007_schema_config_update.py
  specifyweb/specify/migrations/0009_tectonic_ranks.py
  specifyweb/specify/migrations/0012_add_cojo_to_schema_config.py
Labels: Migration

#5406 Add the ability to add a parent to a cog
  specifyweb/businessrules/rules/cojo_rules.py
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleDefs.ts
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleUtils.ts
  specifyweb/frontend/js_src/lib/components/DataModel/types.ts
  specifyweb/frontend/js_src/lib/components/WbPlanView/__tests__/automapper.test.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
  specifyweb/frontend/js_src/lib/tests/ajax/static/context/datamodel.json
  specifyweb/specify/datamodel.py
  specifyweb/specify/migrations/0013_collectionobjectgroup_parentcog.py
  specifyweb/specify/models.py
Labels: Migration

#5272 Add new age filter in QB
  specifyweb/express_search/related.py
  specifyweb/frontend/js_src/lib/components/Atoms/Icons.tsx
  specifyweb/frontend/js_src/lib/components/DataModel/schemaExtras.ts
  specifyweb/frontend/js_src/lib/components/DataModel/types.ts
  specifyweb/frontend/js_src/lib/components/PickLists/definitions.ts
  specifyweb/frontend/js_src/lib/components/QueryBuilder/FieldFilter.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/FieldFilterTool.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/FromMap.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Line.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Wrapped.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/helpers.ts
  specifyweb/frontend/js_src/lib/components/SpecifyNetwork/Map.tsx
  specifyweb/frontend/js_src/lib/components/SpecifyNetwork/__tests__/Map.test.tsx
  specifyweb/frontend/js_src/lib/components/WbPlanView/__tests__/navigator.test.ts
  specifyweb/frontend/js_src/lib/components/WbPlanView/navigator.ts
  specifyweb/frontend/js_src/lib/localization/query.ts
  specifyweb/frontend/js_src/lib/utils/parser/definitions.ts
  specifyweb/specify/datamodel.py
  specifyweb/specify/geo_time.py
  specifyweb/specify/migrations/0014_spqueryfield_strict.py
  specifyweb/specify/models.py
  specifyweb/specify/tests/test_geotime.py
  specifyweb/stored_queries/execution.py
  specifyweb/stored_queries/query_ops.py
  specifyweb/stored_queries/queryfield.py
  specifyweb/stored_queries/queryfieldspec.py
  specifyweb/stored_queries/tests.py
Labels: Migration

#5411 Add valid chronostrat filter to geo_time relativeage and paleocontext queries
  specifyweb/specify/api.py
  specifyweb/specify/geo_time.py
  specifyweb/specify/tests/test_geotime.py
  specifyweb/specify/tree_views.py
Labels: 2 - Queries
