Repository specify/specify7, pull requests merged in 2024-12, with the labels that each got.

#5367 Update default form definitions for Geo
  config/backstop/dataobj_formatters.xml
  config/backstop/global.views.xml
  config/backstop/system.views.xml
  config/backstop/typesearch_def.xml
  config/bird/bird.views.xml
  config/bird/manager/bird.views.xml
  config/botany/botany.views.xml
  config/botany/manager/botany.views.xml
  config/common/common.views.xml
  config/common/weblinks.xml
  config/fish/fish.views copy.xml
  config/fish/fish.views.xml
  config/fish/guest/fish.views.xml
  config/fish/manager/fish.views.xml
  config/geology/geology.views.xml
  config/herpetology/herpetology.views.xml
  config/herpetology/manager/herpetology.views.xml
  config/invertebrate/invertebrate.views.xml
  config/invertebrate/manager/invertebrate.views.xml
  config/invertpaleo/guest/paleo.views.xml
  config/invertpaleo/manager/paleo.views.xml
  config/invertpaleo/paleo.views.xml
  config/mammal/mammal.views.xml
  config/mammal/manager/mammal.views.xml
  config/vertpaleo/guest/vertpaleo.views.xml
  config/vertpaleo/manager/vertpaleo.views.xml
  config/vertpaleo/vertpaleo.views.xml
  specifyweb/context/data/viewset_0.xml
  specifyweb/context/data/viewset_4.xml
  specifyweb/frontend/js_src/lib/components/FormParse/__tests__/index.test.ts
  specifyweb/frontend/js_src/lib/components/FormParse/webOnlyViews.ts
  specifyweb/frontend/js_src/lib/components/QueryComboBox/index.tsx
  specifyweb/specify/models_by_table_id.py
Labels: 2 - Forms

#5424 Add version field to ages
  specifyweb/frontend/js_src/lib/components/DataModel/types.ts
  specifyweb/specify/datamodel.py
  specifyweb/specify/migrations/0015_add_version_to_ages.py
  specifyweb/specify/models.py
Labels: Migration

#5500 Add Author to the disambiguation dialog
  specifyweb/frontend/js_src/lib/components/WorkBench/Disambiguation.tsx
  specifyweb/frontend/js_src/lib/localization/workbench.ts
Labels: 2 - WorkBench
