Repository specify/specify7, pull requests merged in 2025-04, with the labels that each got.

#6380 Inclusion of null taxontreedef in query results
  specifyweb/stored_queries/query_construct.py
Labels: 2 - Queries

#6377 Query Builder COG sibling special filtering
  specifyweb/specify/utils.py
  specifyweb/specify/views.py
  specifyweb/stored_queries/execution.py
  specifyweb/stored_queries/queryfield.py
  specifyweb/stored_queries/queryfieldspec.py
Labels: 2 - Queries, geospecify

#6408 Create a parent child relationship on CO table
  specifyweb/frontend/js_src/lib/components/DataModel/types.ts
  specifyweb/frontend/js_src/lib/components/Forms/SubView.tsx
  specifyweb/specify/datamodel.py
  specifyweb/specify/migration_utils/sp7_schemaconfig.py
  specifyweb/specify/migrations/0027_CO_children.py
  specifyweb/specify/models.py
Labels: Migration

#6428 Batch edit: Disable editing dataset after rollback
  specifyweb/frontend/js_src/lib/components/WbActions/index.tsx
  specifyweb/frontend/js_src/lib/components/WbPlanView/Wrapped.tsx
  specifyweb/frontend/js_src/lib/components/WbPlanView/uploadPlanBuilder.ts
  specifyweb/frontend/js_src/lib/components/WorkBench/DataSetMeta.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/WbSpreadsheet.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/WbView.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/hotProps.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/resultsParser.ts
  specifyweb/frontend/js_src/lib/localization/batchEdit.ts
  specifyweb/workbench/migrations/0008_spdataset_rolledback.py
  specifyweb/workbench/models.py
  specifyweb/workbench/tasks.py
Labels: Migration
