Repository specify/specify7, pull requests merged in 2025-03, with the labels that each got.

#6290 Create ExpressSearchConfig static file and register with app_resources
  config/common/app_resources.xml
  config/common/expresssearchconfig.xml
  specifyweb/context/app_resource.py
Labels: 1 - Bug, python

#6206 Age Extension Query with Formatted Age Range
  specifyweb/frontend/js_src/lib/components/DataModel/resourceApi.ts
  specifyweb/specify/geo_time.py
  specifyweb/stored_queries/execution.py
  specifyweb/stored_queries/query_ops.py
  specifyweb/stored_queries/queryfieldspec.py
Labels: 2 - Queries, geospecify

#6115 Fix missing aggregation separators, add `patches` Django app
  specifyweb/frontend/js_src/lib/components/DataModel/resource.ts
  specifyweb/frontend/js_src/lib/components/Router/OverlayRoutes.tsx
  specifyweb/frontend/js_src/lib/components/WbUtils/index.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/WbValidation.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/batchEditHelpers.ts
  specifyweb/frontend/js_src/lib/components/WorkBench/hooks.ts
  specifyweb/frontend/js_src/lib/components/WorkBench/hotHelpers.ts
  specifyweb/frontend/js_src/lib/components/WorkBench/resultsParser.ts
  specifyweb/patches/__init__.py
  specifyweb/patches/admin.py
  specifyweb/patches/apps.py
  specifyweb/patches/migrations/0001_restore_separators.py
  specifyweb/patches/migrations/__init__.py
  specifyweb/patches/models.py
  specifyweb/patches/tests.py
  specifyweb/patches/views.py
  specifyweb/settings/__init__.py
Labels: Migration

#5366 Fix tree structure issues due to an old WorkBench bug
  specifyweb/frontend/js_src/lib/components/Attachments/MimetypeIcons.d.ts
  specifyweb/frontend/js_src/lib/components/Attachments/MimetypeIcons/LICENSE.md
  specifyweb/frontend/js_src/lib/components/Attachments/MimetypeIcons/application-json.svg
  specifyweb/frontend/js_src/lib/components/Attachments/MimetypeIcons/application-pdf.svg
  specifyweb/frontend/js_src/lib/components/Attachments/MimetypeIcons/audio-x-generic.svg
  specifyweb/frontend/js_src/lib/components/Attachments/MimetypeIcons/image-loading.svg
  specifyweb/frontend/js_src/lib/components/Attachments/MimetypeIcons/image-x-generic.svg
  specifyweb/frontend/js_src/lib/components/Attachments/MimetypeIcons/model.svg
  specifyweb/frontend/js_src/lib/components/Attachments/MimetypeIcons/package-x-generic.svg
  specifyweb/frontend/js_src/lib/components/Attachments/MimetypeIcons/text-html.svg
  specifyweb/frontend/js_src/lib/components/Attachments/MimetypeIcons/text-x-generic.svg
  specifyweb/frontend/js_src/lib/components/Attachments/MimetypeIcons/text-x-makefile.svg
  specifyweb/frontend/js_src/lib/components/Attachments/MimetypeIcons/video-x-generic.svg
  specifyweb/frontend/js_src/lib/components/Attachments/MimetypeIcons/x-office-document.svg
  specifyweb/frontend/js_src/lib/components/Attachments/MimetypeIcons/x-office-presentation.svg
  specifyweb/frontend/js_src/lib/components/Attachments/MimetypeIcons/x-office-spreadsheet.svg
  specifyweb/frontend/js_src/lib/components/Molecules/ResourceLink.tsx
  specifyweb/frontend/js_src/lib/components/QueryComboBox/index.tsx
  specifyweb/frontend/js_src/lib/components/SearchDialog/index.tsx
  specifyweb/patches/migrations/0002_fix_accepted_taxon.py
Labels: Migration

#5368 Fix missing coordinate text fields for decimal coordinates
  specifyweb/patches/migrations/0003_coordinate_fields_fix.py
Labels: Migration
